# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
.idea/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/

# iOS
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Pods/
ios/Runner.xcworkspace/
ios/.symlinks/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Flutter/Flutter.podspec

# Android
android/.gradle/
android/app/build/
android/.idea/
*.iml

# VSCode
.vscode/

# macOS
macos/Flutter/ephemeral/
macos/Flutter/Flutter.framework
macos/Flutter/App.framework
macos/Pods/

# Web
web/.dart_tool/
web/build/

# Other
*.log
*.lock
*.DS_Store
*.swp
*.swo
*.tmp
*.orig
*.class
*.ipr
*.iws
*.iml
*.hprof

# JetBrains IDEs (IntelliJ, Android Studio, etc.)
.idea/
*.iml
*.ipr

# Miscellaneous
pubspec.lock
